html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.search-bar {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 500px;
}

.search-bar input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 500px;
}

.search-container {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
}

.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100vh;
}


.category-selector {
  background-color: #333;
  padding: 20px;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 150px;
  z-index: 100;
}

button {
  background-color: transparent;
  color: white;
  padding: 10px;
  margin-bottom: 1px;
  border: none;
  width: calc(100% - 20px);
  text-align: left;
  border-bottom: 1px solid grey;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

.game-list {
  background-color: #333;
  color: white;
  width: 250px;
  padding: 60px;
  height: 100vh;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:150px;
}

.game-list ul {
  list-style-type: none;
  padding: 0;
}

.game-list ul li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.game-list ul li:hover {
  background-color: #555;
}

.main-content {
  flex-grow: 1;
  padding-top: 150px;

}

.game-cover {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 38px;
}

.game-cover {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid #ccc; /* Graue Trennlinie */
  padding-bottom: 20px; /* Abstand zwischen Bild und Trennlinie */
}

.main-content p {
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}


@media (max-width: 768px) {
  .category-selector {
    position: static;
    width: 100%;
    height: auto;
  }

  .container {
    margin-left: 0;
    width: 100%;
  }

  .search-bar {
    position: static;
    width: 100%;
    padding: 10px;
  }


}


.logo-container {
  height: 150px;
  position: absolute;
  top: 0px; 
  display: flex; 
  align-items: center; 
  z-index: 102; 
}

.logo {
  width: 100px;
  height: auto; 
  margin-left: 20px;
}

.logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 50px; 
  font-weight: 700;
  color: black; 
  margin-left: 10px; 
  text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.Hure
{
  border: solid 1px black;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #efefef;
}

